# ───────────────────────────────
# ОСНОВНЫЕ СИСТЕМНЫЕ ФАЙЛЫ
# ───────────────────────────────
.DS_Store
Thumbs.db

# ───────────────────────────────
# PYTHON
# ───────────────────────────────
__pycache__/
*.py[cod]
*$py.class

# виртуальные окружения
venv/
env/

# виртуальное окружение poetry
.venv/

# лог файлы
*.log

# база данных (если не используется в проде)
db.sqlite3

# переменные окружения
.env

# файл настроек `.env.*`
.env.*
!.env.example

# ───────────────────────────────
# Django
# ───────────────────────────────
staticfiles/
media/
*.mo
*.pot

# миграции компилируются, но сами миграции храним
**/migrations/*.pyc
**/migrations/*__pycache__/
# POSTGRESQL
postgres_data
# ───────────────────────────────
# TESTING
# ───────────────────────────────
.pytest_cache/
.coverage
coverage.xml
htmlcov/

# ───────────────────────────────
# MYPY
# ───────────────────────────────
.mypy_cache/
.dmypy.json
dmypy.json

# ───────────────────────────────
# IDE/EDITOR FILES
# ───────────────────────────────
# Visual Studio Code
.vscode/

# PyCharm
.idea/

# JetBrains
*.iml

# ───────────────────────────────
# BUILD/DEPLOY
# ───────────────────────────────
build/
dist/
*.egg-info/

# ───────────────────────────────
# BACKUP / TEMP
# ───────────────────────────────
*.bak
*.tmp
*.swp
*.swo

### ───────────────────────────────
### Node modules
### ───────────────────────────────
node_modules/